<html>
  <head>
    <title>LiveHeatsCodingChallenge</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <%= javascript_pack_tag 'races-bundle' %>
    <%= stylesheet_pack_tag 'races-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
