<html>
  <head>
    <title>LiveHeatsCodingChallenge</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'races-bundle' %>
    <%= stylesheet_pack_tag 'races-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
